@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-fredoka: "Fredoka", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    /* Variabel Warna Umum */
    --color-primary: #e9f1f7;
    --color-secondary: #e1ecf4;
    --color-darker: #D2E2EF;
    --color-accent: #ff9f1c;
    --color-accent-shade: #FFF8E1;
    --color-gray: #76877D;
    --color-main: #1f2421;
    --color-special: #ff9f1c;
    --color-bright: #FDF7FA;
    /* red */
    --color-cinnabar: #F64740;
    --color-punch-red: #EF233C;
    --color-classic-crimson: #D80032;
    --color-burnt-tangerine: #EF271B;
    --color-inferno: #A50104;
    --color-black-cherry: #590004;
    --color-strawberry-red: #F71735;
    /* yellow */
    --color-amber-flame: #FCBA04;


    /* black / dark */
    --color-ink-black: #011627;

    /* gold/yellow */
    --color-bright-gold: #011627;
    --color-amber-gold: #FFBF00;

    /* blue */
    --color-dodger-blue: #3590F3;
    --color-steel-blue: #3F88C5;
}
